body {
  background-color: green;
  font-family: sans-serif;
}

%cards-position {
  left: 35%;
  position: absolute;
}

.opponent-hand {
  @extend %cards-position;
  top: 20%;
}

.my-hand {
  @extend %cards-position;
  display: inline;
  bottom: 20%;
}

.buttons-section {
  @extend %cards-position;
  display: inline;
  bottom: 10%;
}

.decision {
  margin-left: 10%;
}

.result {
  display: inline;
}

.fold-msg {
  top: 93%;
  position: absolute;
  right: 0%;
}
